.todo-app {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}

.logout-button {
  background-color: #c02924;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.title {
  display: flex;
  justify-content: center;
}

.add-todo-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px; 
  margin-top: 20px;
  margin-bottom: 20px;
}

.priority,
.description,
.selectedtime {
  background-color: #f5f5f5; 
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 3px;
  text-align: left;
}

.priority {
  font-weight: bold;
  color: #333;
}

.description,
.selectedtime {
  color: #666; 
}

.add-button {
  background-color: #212c21;
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 15px;
  margin-bottom: 10px;
}

.todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-item {
  background-color: #fff;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: start;
  flex-direction: row;
  width: 850px;
}

.complete-delete-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.completed {
  text-decoration: line-through;
  color: #aaa;
}

.todo-info {
  flex: 1;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.category-group {
  margin-bottom: 20px;
}

.category-group h3 {
  margin-bottom: 10px;
  font-size: 1.5em;
}

.todo-list ul {
  list-style-type: none;
  padding: 0;
}

.todo-item {
  display: flex;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: 1s;
}

.todo-item.completed {
  background-color: #7bf77b;
  transition: 1s;
}

.todo-info {
}

.complete-delete-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.update-button,
.delete-button {
  background-color: #34568B;
  color: #fff;
  border: none;
  padding: 15px 23px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  transition: 0.2s;
}

.update-button:hover,
.delete-button:hover {
  background-color: #2c358e;
}

.minimal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  margin: 0 auto;
}

.minimal select, 
.minimal .time-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 16px;
  color: #333;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.minimal select:focus,
.minimal .time-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.25);
  outline: none;
}

.category-group {
  
  
  
}